*{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    background-color: #fa9e7f38 !important;
}
.div-card-p{
    width: 200px !important;
}

.btn-p{
    background-color: #EA7C4B !important;
    color: aliceblue;
}
.btn-pro-p{
    background-color: #EA7C4B;
    width: 6rem;
    height: 4.5rem;
    color: aliceblue;
    font-size: 15px;
    margin: 3px;
}

.div-product-order{
    height: 15rem;
    width: auto !important;
    word-wrap: break-word;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(243, 223, 223);
}

.section-order-mana{
    overflow: scroll;
    height: 15rem;
    width: auto;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(243, 223, 223);
}
.section-btn-pe{
    height: 400px;
}

.p-1{
    width: 80px;
    height: 50px;
    font-size: larger;
}
.btn-1{
    width: 80px;
    height: 50px;
}
.btn-2{
    width: 100px;
    height: 50px;
}
.btns-section{
    padding: 0;
}

.div-btn-inter{
    margin-top: 10px;
}
.div-btn-inter button{
    width: 80px;
    height: 50px;
}
/*
.div-content-btncal{
    text-align: center;
}

.table-content-btn{
    margin: 0px auto;
}*/

@media (max-width:992px){
    .p-1{
        width: 30px !important;
        height: 30px !important;
        font-size: smaller;
    }
    .btn-2, .btn-1{
        width: 60px !important;
        height: 30px !important;
        font-size: smaller;
    }
}

